.checkOut {
  background-color: #e1e1e1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.checkoutContent {
  width: 80%;
  margin: 10px;
  margin-bottom: 20px;
  padding: 10px;
  background-color: white;
  border-radius: 5px;
}

.checkoutContent h5 {
  flex: 0.2;
}

.address,
.cardDetails,
.cartItems {
  flex: 0.8;
}

.contentDiv {
  border-bottom: 5px solid lightgray;
  margin: 10px;
  padding: 10px;
  display: flex;
}

.contentDiv * {
  margin: 0;
  font-size: 18px;
}

.cardForm {
  margin: 10px 10%;
}

.orderTotal {
  margin: 20px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.Buttonsub {
  background: #ffd814;
  margin-top: 10px;
  color: #111;
  border-radius: 20px;
  padding: 8px 30px;
  border: none;
}
@media (max-width: 700px) {
  .checkOut {
    background-color: #e1e1e1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .checkoutContent {
    width: 100%;
    margin: 10px;
    margin-bottom: 20px;
    padding: 10px;
    background-color: white;
    border-radius: 5px;
  }

  .checkoutContent h5 {
    flex: 0.2;
  }

  .address,
  .cardDetails,
  .cartItems {
    flex: 0.8;
  }

  .contentDiv {
    border-bottom: 5px solid lightgray;
    margin: 10px;
    padding: 10px;
    display: flex;
  }

  .contentDiv * {
    margin: 0;
    font-size: 18px;
  }

  .cardForm {
    margin: 10px 10%;
  }

  .orderTotal {
    margin: 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .Buttonsub {
    background: #ffd814;
    margin-top: 10px;
    color: #111;
    border-radius: 20px;
    padding: 8px 30px;
    border: none;
  }

  .Paymentcard {
    margin-left: -100px;
    margin-bottom: 50px;
  }
}
