.sideNavigation {
  position: absolute;
  top: 0;
  left: -350px;
  width: 350px;
  height: 100vh;
  z-index: 10;
  background: #fff;
  transition: left 0.3s;
}

.category {
  height: 100%;
  background-color: #fff;
}

.sideNavigation.active {
  left: 0;
}

.sideNavNameHead {
  padding: 0 10px;
  height: 60px;
  background-color: #233d53;
  display: flex;
  align-items: center;
}

.sideNavUser {
  margin: 10px;
  color: #fff;
}
a {
  text-decoration-line: none;
  text-decoration: none;
}
